@-webkit-keyframes on-open-menu {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@-webkit-keyframes on-close-menu {
    0% {
        width: 20%;
    }
    100% {
        width: 0%;
    }
}

@-webkit-keyframes on-open-submenu {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes on-close-submenu {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@-webkit-keyframes on-open-cart {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@-webkit-keyframes on-close-cart {
    0% {
        width: 40%;
    }
    100% {
        width: 0%;
    }
}

@-webkit-keyframes on-open-menu-med {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@-webkit-keyframes on-close-menu-med {
    0% {
        width: 30%;
    }
    100% {
        width: 0%;
    }
}

@-webkit-keyframes on-open-cart-med {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@-webkit-keyframes on-close-cart-med {
    0% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}