@import "_animations.scss";
@import "_responsive.scss";
@import url('https://fonts.googleapis.com/css?family=Anton');
* {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    width: 100%;
}

.home-container {
    display: flex;
    .categories {
        display: block;
        height: auto;
        width: 100%;
    }
}

//override materialize
.input-field {
    margin-top: 0;
}

.row {
    margin-bottom: 5px;
}

.close-menu {
    //display: none;
    width: 0%;
    animation-name: on-close-menu;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.5s;
}

.open-menu {
    //display: block;
    width: 20%;
    animation-name: on-open-menu;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.5s;
}

.close-cart {
    //display: none;
    width: 0%;
    animation-name: on-close-cart;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.5s;
    form {
        display: none;
    }
}

.open-cart {
    display: block;
    width: 40%;
    animation-name: on-open-cart;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.5s;
    form {
        display: block;
    }
}

//styles for medium size
@include medium {
    .close-menu {
        animation-name: on-close-menu-med;
    }
    .open-menu {
        //display: block;
        width: 30%;
        animation-name: on-open-menu-med;
    }
    .close-cart {
        animation-name: on-close-cart-med;
    }
    .open-cart {
        width: 50%;
        animation-name: on-open-cart-med;
    }
    .category-container {
        flex: 50%;
        width: 50%;
    }
}

//styles for mobile size
@include small {
    #menu {
        border: none;
    }
    #shopping-cart {
        width: 100%;
        form {
            display: block;
        }
    }
    .main-container {
        flex-direction: column;
    }
    .home-container {
        flex-direction: column;
    }
    .close-cart {
        animation-name: none;
    }
    .open-cart {
        animation-name: none;
    }
    .category-container {
        flex: 100%;
        width: 100%;
        border: none;
    }
    .menu-icon {
        display: none;
    }
    .logo {
        margin-left: 10px;
    }
    .hide-for-mobile{
        display:none;
    }
    #menu {
        height: 50px;
        border-right: none;
        width: 100%;
        flex: 100%;
        overflow: scroll;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .open {
            display: none !important;
        }
    }
    .filter-section {
        .dropdown-content {
            width: 220px !important;
        }
    }
}