.category-banner {
    height: 300px;
    font-size: 22px;
    display: block;
    z-index: -5;
    font-family: 'Anton', sans-serif;
    &:hover {
        .translucent {
            display: block;
        }
    }
    .translucent {
        display: none;
        height: 300px;
        width: 100%;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
        h2 {
            margin: 20px;
            position: absolute;
            color: #f33959;
        }
    }
}

.category-container {
    flex: 70%;
    width: 70%;
    background: white;
    border-right: 5px solid white;
}
