    .category-element {
        min-width: 238px;
        height: 250px;
        z-index: 5;
        font-family: 'Anton', sans-serif;
        cursor: pointer;
        &:hover {
            .translucent {
                display: block;
            }
        }    
        .translucent {
            display: none;
            height: 250px;
            width: 238px;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
            
            
        }
        p {
            color: #f33959;
            font-size: 28px;
            padding:10px;
        }
    }