.product-container {
    p{
        margin-left:10px;
        
    }
    .price{
        font-size:24px;
    }
    .name{
        font-size:18px;
        font-weight: bold;
    }
    .not-available{
        color:red;
        font-weight: bold;
    }
    .product-photo {
        min-width: 213px;
        height: 213px;
        z-index: 5;
        font-family: 'Anton', sans-serif;
        cursor: pointer;
        &:hover {
            .translucent {
                display: block;
            }
        }
    }
    .translucent {
        display: none;
        height: 213px;
        width: 213px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .btn-floating {
        margin-left: 150px;
        margin-top: 150px;
    }
}