#shopping-cart{
    background: rgba(245,245,245,1);
    z-index:5;
    form{
        padding:10px;
        box-sizing: border-box;
    }
    button{
        padding:0 5px;
    }
    #remove{
        margin-left: 10px;
    }
    .collection{
        border:none;
    }
    .collection-item{
        border:none;
        padding:10px !important;
        .product-name{
            margin-top:5px;
            min-width: 150px;
        }
    }
    .price{
        margin-left:10px;
    }
    
    .buy_button {
        width: 100%;
        margin-bottom: 20px;
    }
    .btn-floating {
        width: 30px;
        height: 30px;
    }
    .input-field {
        margin-top: 0;
        input {
            background-color: transparent;
            border: none;
            outline: none;
            height: auto;
            width: 100%;
        }
        label {
            top: 1.5em;
            left: 0;
        }
    }
}