header{
    width:100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    background: white;

    .menu-icon{
        margin:15px 15px;
    }

    .logo{
        margin-top:15px;
    }
    .shopping-cart{
        cursor:pointer;
        margin-top:15px;
        margin-right: 20px;
        &__icon{
           position: relative; 
        }
        &__number {
            height: 17px;
            width: 17px;
            background-color: red;
            border-radius: 50%;
            position: absolute;
            padding: 0px 5px;
            margin: 20px 20px;
            font-size: 12px;
            color:white;
          }
    }
}