

#menu {
    border-right: 5px solid white;
    background: rgba(245, 245, 245, 1);
    .navbar-element a {
        color: #333;
        padding: 10px;
        display: block;
        cursor: pointer;
        min-width: 180px;
        &:hover {
            background: #e1e1e1;
        }
    }
    .sub-navbar {        
        .close {
            display: none;
            animation-name: on-close-submenu;
            animation-timing-function: ease-out;
            -webkit-animation-duration: 0.5s;
        }
        .open {      
            margin-left: 10px;  
            display: block;
            animation-name: on-open-submenu;
            animation-timing-function: ease-out;
            -webkit-animation-duration: 0.5s;
        }
    }
}